* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #e81616;
}

body {
    font-size: 1.6rem;
    color: #575f66;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */

a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.heading-lv2 {
    font-weight: 700;
    font-size: 4.5rem;
    color: #000;
}

.btn {
    display: inline-block;
    min-width: 170px;
    text-align: center;
    font-weight: 500;
    padding: 16px 0;
    border-radius: 16px;
    color: #fff;
    background: #0c3b71;
    border: 3px solid #0c3b71;
    transition: 0.3s;
}

.btn:hover {
    background: transparent;
    border-color: #0c3b71;
}

.control {
    color: #575f66;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

button {
    cursor: pointer;
}

/* Header */

.header {
    position: sticky;
    top: 0;
    background: var(--primary-color);
    z-index: 3;
}

.header__inner {
    display: flex;
    align-items: center;
}

.logo {
    position: relative;
}

.logo__branch {
    position: relative;
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
}

.nav {
    margin-left: 50px;
}

.nav__list {
    display: flex;
}
.nav__item {
    position: relative;
    padding: 10px 0;
}
.nav__link {
    display: inline-block;
    font-size: 1.4rem;
    position: relative;
    font-weight: 500;
    color: #fff;
    padding: 10px 20px;
    transition: 0.1s;
}

.nav__link::before {
    content: attr(title);
    font-weight: 700;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.nav__link:hover {
    font-weight: 700;
}

.nav__item--action {
    margin-right: 15px;
}

.nav__link--action::after {
    position: absolute;
    right: 0;
    top: 15px;
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 2px solid #c9d2da;
    border-left: 2px solid #c9d2da;
    rotate: -135deg;
}

.nav__courses {
    /* Vì chiếm diện tích nên không thể dùng 2 thuộc tính này */
    /* opacity: 0;
    visibility: hidden; */
    display: none;
    position: absolute;
    top: 60px;
    left: 10px;
    transition: 0.3s;
}

.nav__courses:hover + .nav__link--action {
    font-weight: 700;
}

.nav__item--action:hover .nav__courses {
    /* opacity: 1;
    visibility: visible; */
    display: block;
}

.nav-courses__list {
    display: flex;
    flex-direction: column;
    width: 275px;
    background: #fff;
    border-radius: 6px;
    transition: 0.3s;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.nav-courses__item {
    transition: 0.3s;
}
.nav-courses__item:hover {
    background: #c9d2da;
}

.nav-courses__item:first-child {
    border-radius: 6px 6px 0 0;
}
.nav-courses__item:last-child {
    border-radius: 0 0 6px 6px;
}
.nav-courses__link {
    display: block;
    color: #555555;
    /* font-weight: 500; */
    padding: 12px;
}

.header__action {
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.header-action__login,
.header-action__cart {
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.header-action__login:hover,
.header-action__cart:hover {
    color: #fff;
    background: #2e80ce;
    border-color: transparent;
}

.header__search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height: 40px;
    background: #f6f6f6;
    margin-left: 16px;
    padding: 8px 16px;
    border-radius: 999px;
}

.header-search__input {
    padding: 8px 0;
    width: 105px;
    height: 12px;
    font-size: 16px;
    color: #000;
    background-color: transparent;
    border: none;
    outline: none;
}

.search__btn {
    padding-top: 4px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* Breadcrumb */
.page-title-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 365px;
    background-image: url(https://png.pngtree.com/background/20210709/original/pngtree-sports-basketball-backplane-picture-image_780138.jpg);
    background-size: cover;
    background-position: center 35%;
}

.page-title-area .heading-lv2 {
    color: #cd1313;
}

.breadcrumb {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.breadcrumb__item {
    position: relative;
}

.breadcrumb__item:first-child::before {
    position: absolute;
    right: -16px;
    top: 3px;
    content: "";
    display: inline-block;
    width: 3px;
    height: 18px;
    background: #9f1111;
    rotate: 35deg;
}

.breadcrumb__link {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.4;
    color: #603c3c;
    transition: 0.3s;
}

.breadcrumb__link:hover {
    color: var(--primary-color);
}

.cart {
    padding: 100px 0;
}

.cart__heading {
    font-size: 4.5rem;
    font-weight: 700;
    color: #000;
}

.cart__inner {
    display: flex;
    gap: 0 70px;
    margin-top: 30px;
}

.courses__list {
    flex-shrink: 0;
    width: 60%;
}

.cart__checkout {
    flex-grow: 1;
}

.courses__item {
    display: flex;
    gap: 0 20px;
}

.courses__title {
    font-weight: 500;
}

.courses__seperate {
    width: 100%;
    height: 2px;
    background: #f1f1f1;
    margin: 20px 0;
}

.courses__thumb {
    height: 100px;
    width: 145px;
}

.courses__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 4px;
}

.courses-item__stats {
    display: flex;
    flex-wrap: wrap;
    gap: 0 4px;
    align-items: center;
    margin-top: 8px;

}
.courses-item__features {
    display: inline-block;
    color: #fff;
    padding: 4px 8px;
    background: #eceb98;
    border-radius: 4px;
    margin-top: 8px;
}

.courses-item__heading {
    font-size: 1.8rem;
    font-weight: 600;
}
.courses-item__star-number {
    font-size: 1.8rem;
    color: #b4690e;
    font-weight: 600;
}

.courses-item__row {
    display: flex;
    gap: 10px 30px;
    font-size: 1.4rem;
    margin-top: 8px;
}

.courses-item__dot {
    position: relative;
}

.courses-item__dot::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
}

.courses-item__dot:first-child::before {
    display: none;
}



.courses-item__action {
    display: flex;
    gap: 0 30px;
    margin-top: 8px;
    color: var(--primary-color);
}

.courses__price {
    font-size: 2.4rem;
    font-weight: 700;
    color: #000;
    margin-left: auto;
}

.cart__label {
    font-size: 1.8rem;
    font-weight: 600;
}

.cart__sale-price-total {
    font-size: 3.8rem;
    font-weight: 700;
    color: #000;
}

.cart__price-total {
    font-size: 2.4rem;
    text-decoration: line-through;
}

.cart__btn {
    width: 100%;
    text-align: center;
    font-weight: 600;
    background: var(--primary-color);
    color: #fff;
    margin-top: 20px;
    border-radius: 4px;
    padding: 16px;
    outline: none;
    border: none;
    transition: 0.3s;
}

.cart__btn:hover {
    opacity: 0.8;
}

.cart__btn-link {
    display: inline-block;
}

.cart__form {
    display: flex;
    align-items: center;
    gap: 0 8px;
    margin-top: 10px;
}

.cart__input {
    flex-shrink: 0;
    font-size: 1.4rem;
    padding: 12px 4px;
    border-radius: 10px;
    text-transform: uppercase;
    width: 80%;
}

.cart__input::placeholder {
    text-transform: none;
}

.cart-btn-promotions {
    flex-grow: 1;
    margin-top: 0;
    padding: 14px;
}

.cart__pay-chanel {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.cart__pay-chanel-img {
    width: 70px;
    height: 52px;
}

.cart__pay-chanel-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.cart__pay-chanel-gojek {
    width: 80px;
}
/* Footer */
.footer {
    color: #c9d2da;
    margin-top: 100px;
    padding: 100px 0 30px;
    background: black;
}

.footer__row {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr) 2fr;
    column-gap: 80px;
}

.footer__desc {
    color: #fff;
    margin-top: 30px;
}

.footer__label {
    color: #fff;
    font-weight: 600;
    margin-top: 20px;
}

.footer__social {
    margin-top: 20px;
}

.footer-social__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: 0.3s;
}

.footer-social__icon + .footer-social__icon {
    margin-left: 10px;
}

.footer-social__icon:hover {
    background: #0c3b71;
    border-color: transparent;
}

.footer-social__icon i {
    color: #fff;
}

.footer-column__heading {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.footer__list {
    margin-top: 30px;
}

.footer-item__link {
    white-space: nowrap;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    transition: 0.3s;
}

.footer-item__link:hover {
    text-decoration: underline;
}

.footer__item + .footer__item {
    margin-top: 16px;
}

.footer__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px 10px;
    margin-top: 30px;
    width: 350px;
    border-radius: 10px;
    height: 60px;
    background: #fff;
}

.footer__input {
    font-size: 1.8rem;
    color: #000;
    width: 250px;
    padding: 12px 0;
    border: none;
    outline: none;
}

.footer__input::placeholder {
    font-size: 1.6rem;
}

.footer__btn {
    max-width: 85px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    padding: 16px 12px;
    background: #0c3b71;
    border: none;
    outline: none;
}

.footer__seperate {
    width: 100%;
    height: 2px;
    background: #c9d2da;
    margin-top: 50px;
}

.footer__copyright {
    text-align: center;
    margin-top: 30px;
}
